!my_test_restored.ipynb

!fs_utils.py
!runner_scRNA_Seq.py

*.yaml
!config.yaml
old_README.md

*.csv
*.parquet
*.h5ad
*.json
*.txt
!requirements.txt

*.log
*.pkl
*.h5ad
*.png
*.zip
*.pdf
*.svg
*.sh
!run_benchmark_tmux.sh

__pycache__/

fs_env/
annot/
downloads/
exprs/
pData/
logs/
Plots/
cache/
data/ 
datasets/*
plots.tar.gz

.DS_Store
